h1 {
    color: cornflowerblue;
}

.obstacle {
    color: forestgreen;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: absolute;
}

.tree {
    color: forestgreen;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: absolute; 
}