body {
    background: white;
}

h1 {
    color: cornflowerblue;
}

button {
    margin: 10px;
}

ul {
    color: purple;
    list-style-type: none;
}

#scoreboard{
    height:50px;    
    width: 150px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: black;
    display: inline-block;
   
   
}
#skier {
    background: purple;
    height: 10px;
    width: 10px;
    border: 2px solid black;
    position: fixed;
}


.tree {
    color: forestgreen;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: absolute; 
}