body {
    background: white;
    height: 600px;
    width: 600px;
}

h1 {
    color: cornflowerblue;
}

button {
    margin: 10px;
}

#skier {
    background: purple;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    position: fixed;
}

.obstacle {
    color: forestgreen;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: fixed;
}

.tree {
    color: forestgreen;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: absolute; 
}